<dl class="h-entry">
  <dt>Name</dt>
  <dd>
    <span class="p-name"><%= instruction.name %></span>
  </dd>
  <dt>UID</dt>
  <dd>
    <a href="<%= instruction_url(instruction) %>" rel="bookmark" class="u-uid">
      <%= instruction_url(instruction) %>
    </a>
  </dd>
  <dt>Published</dt>
  <dd>
    <time datetime="<%= instruction.created_at_computer_readable %>" class="dt-published">
      <%= instruction.created_at_human_readable %>
    </time>
  </dd>
  <dt>Content</dt>
  <dd>
    <dl class="e-content">
      <dt>Instruction</dt>
      <dd>
        <%= render instruction %>
      </dd>
    </dl>
  </dd>
</dl>
