<dl class="e-g5-instruction">
  <dt>UID</dt>
  <dd>
    <a class="u-uid" href="<%= instruction_url(instruction) %>">
      <%= instruction_url(instruction) %>
    </a>
  </dd>
  <dt>Target Apps (Performs Instruction)</dt> 
  <% instruction.target_apps.each do |target_app| %>
    <dd>
      <a class="u-g5-target-uid" href="<%= app_url target_app %>">
        <%= app_url target_app %>
      </a>
    </dd>
  <% end %>
  <% if instruction.remote_app.present? %>
    <dt>Remote App (Instruction Effects)</dt>
    <dd>
      <%= render partial: "apps/app", object: instruction.remote_app %>
    </dd>
  <% end %>
</dl>
