<dl class="e-g5-instruction">
  <dt>UID</dt>
  <dd>
    <a class="u-uid" href="<%= instruction_url(instruction) %>">
      <%= instruction_url(instruction) %>
    </a>
  </dd>
  <dt>Targets (Performs Instruction)</dt> 
  <dd>
    <a class="u-g5-target-uid" href="<%= instruction.target_app.try :uid %>">
      <%= instruction.target_app.try :uid %>
    </a>
  </dd>
  <dt>Apps (Instruction Effects)</dt>
  <dd>
    <dl class="e-g5-app">
      <dt>UID</dt>
      <dd>
        <a class="u-uid" href="<%= instruction.remote_app.try :uid %>">
         <%= instruction.remote_app.try :uid %>
        </a>
      </dd>
      <dt>Name</dt>
      <dd>
        <span class="p-name"><%= instruction.remote_app.try :name %></span>
      </dd>
      <dt>Repo</dt>
      <dd>
        <span class="p-g5-git-repo"><%= instruction.remote_app.try :git_repo %></span>
      <dd>
    </dl>
  </dd>
  <dt>Tasks</dt>
  <dd>
    <dl class="e-g5-instruction-task">
      <dt>UID</dt>
      <dd>
        <a class="u-uid" href="http://foo.bar/provision-heroku-app">
          http://foo.bar/provision-heroku-app
        </a>
      </dd>
      <dt>Name</dt>
      <dd>
        <span class="p-name">Provision Heroku App</span>
      </dd>
    </dl>
  </dd>
  <dd>
    <dl class="e-g5-instruction-task">
      <dt>UID</dt>
      <dd>
        <a class="u-uid" href="http://foo.bar/initial-github-to-heroku-deploy">
          http://foo.bar/initial-github-to-heroku-deploy
        </a>
      </dd>
      <dt>Name</dt>
      <dd>
        <span class="p-name">Initial GitHub to Heroku Deploy</span>
      </dd>
    </dl>
  </dd>
  <dt>Actions</dt>
  <dd>
    <dl>
      <dt>All</dt>
      <dd>
        <%= link_to instructions_url, instructions_url %>
      </dd>
    </dl>
  </dd>
</dl>
