<dl class="e-g5-instruction">
  <dt>UID</dt>
  <dd>
    <a class="u-uid" href="<%= instruction_url(instruction) %>">
      <%= instruction_url(instruction) %>
    </a>
  </dd>
  <dt>Targets</dt> 
  <dd>
    <a class="u-g5-target-uid" href="<%= instruction.remote_app.try :uid %>">
      <%= instruction.remote_app.try :uid %>
    </a>
  </dd>
  <dt>Body</dt>
  <dd>
    <span class="p-g5-body"><%= simple_format instruction.body %></span>
  </dd>
  <dt>Actions</dt>
  <dd>
    <dl>
      <dt>All</dt>
      <dd>
        <%= link_to instructions_url, instructions_url %>
      </dd>
    </dl>
  </dd>
</dl>
