<% title "New Configuration" %>

<%= form_for [@remote_app, @instruction] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :target %><br />
    <%= f.text_field :target %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Save" %></p>
<% end %>


<p><%= link_to "Back to List", remote_app_instructions_path(@remote_app) %></p>
