<% title "Remote Apps" %>

<table>
  <tr>
    <th>Name</th>
    <th>Web Url</th>
    <th>Deploy Status</th>
    <th>Actions</th>
  </tr>
  <% for remote_app in @remote_apps %>
    <tr>
      <td><%= remote_app.name %></td>
      <td><%= link_to remote_app.app_url, remote_app.app_url %></td>
      <td><%= remote_app.create_status %></td>
      <td>
        <%= link_to "Show", remote_app %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "Configurations", instructions_path %>

