<% title "Remote App" %>
<% header_right link_to("All Remote Apps", remote_apps_path, class: "btn") %>

<p>
  <strong>App:</strong>
  <%= @remote_app.app_id %>
</p>
<p>
  <strong>Entry:</strong>
  <%= @remote_app.entry.try :name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @remote_app.name %>
</p>
<p>
  <strong>Web Url:</strong>
  <%= link_to @remote_app.app_url, @remote_app.app_url %>
</p>
<p>
  <strong>Create Status:</strong>
  <%= @remote_app.create_status %>
</p>
<p>
  <strong>Configuration:</strong>
  <%= @remote_app.configuration %>
</p>

<p>
  <%= link_to "View All", remote_apps_path %>
</p>
