<div class="h-card">
  <h2 class="p-name">
    <%= link_to app.name, app_url(app), class: "u-uid u-url" %>
  </h2>
  <% if app.client_name %>
    <h3>Client</h3>
    <p class="p-org h-card">
      <%= link_to app.client_name, app.client_uid, class: "p-name u-uid u-url" %>
    </p>
  <% end %>
  <h3>Git Repo</h3>
  <p class="u-git-repo">
    <%= link_to app.git_repo, app.git_repo %>
  </p>
  <h3>Sibling</h3>
  <% app.siblings.each do |sibling| %>
    <h4 class="p-sibling h-card">
      <%= link_to sibling.name, app_url(app), class: "p-name u-uid u-url" %>
    </h4>
    <h5>Git Repo</h5>
    <p class="u-git-repo">
      <%= link_to sibling.git_repo, sibling.git_repo %>
    </p>
  <% end %>
</div>
