<div class="h-card">
  <h2 class="p-name">
    <%= link_to app.name, app_url(app), class: "u-uid u-url" %>
  </h2>
  <% if app.client_name %>
    <p class="p-org h-card">
      <%= link_to app.client_name, app.client_uid, class: "p-name u-uid u-url" %>
    </p>
  <% end %>
  <p>
    <%= link_to app.git_repo, app.git_repo, class: "u-g5-git-repo u-url" %>
  </p>
  <% app.siblings.each do |sibling| %>
    <h3 class="p-g5-sibling h-card">
      sibling of <%= link_to sibling.name, app_url(app), class: "p-name u-uid u-url" %>
    </h3>
    <% if sibling.client_name %>
      <p class="p-org h-card">
        <%= link_to sibling.client_name, sibling.client_uid, class: "p-name u-uid u-url" %>
      </p>
    <% end %>
    <p>
      <%= link_to sibling.git_repo, sibling.git_repo, class: "u-g5-git-repo u-url" %>
    </p>
  <% end %>
</div>
